body {
  margin: 0px;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}
    @keyframes opacity{
  0% {
     opacity:0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fade {
    height: 80vh;
    animation: 1s ease-in 0s 1 opacity;
  }

a {
  cursor:pointer;

}

p {
  line-height: 3rem;
  padding: 3rem;
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  margin-left: 8.5rem;
  margin-top: 1rem;
}

h2 {
  margin-left: 8.5rem;
}

.learnLink {
  padding: 1rem;
  margin-left: 16rem;
  text-decoration: none;
  background: white;
  color: firebrick;
  width: 250px;
  height: 80px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.learnLink:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400vw;
    /* 500%; */
  height: 120vh;
    /* 150%; */
  background: firebrick;
  color: white;
  z-index: -1;
  transform: translateX(calc(-25% - 0px));
  transition: transform .5s;
}
.learnLink:hover::after {
  transform: translateX(0px);
}

#name{
  color: firebrick;
  -webkit-text-stroke: 3px black;
}

#about{
  background-color: firebrick;
  height: 80vh;
}

.aboutList {
  display: flex;
  align-items: center;
}

.projectPress, .contactPress {
  font-weight: bolder;
}

.introHead {
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  margin-top: 18rem;
}

.profileImg {
  margin: 2rem;
  padding: .75rem;
  height: 15vw;
  border-radius: 2rem;
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
}

.projectList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectImg {
  height: 30vh;
  width: 30vw;
  border-radius: 2rem;
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
  padding: 1rem;
  margin: 1rem;
}

#contact {
  background-color: firebrick;
}

input, textarea {
  border-radius: 5px;
}

input:focus, textarea:focus{
  background-color: lightgrey;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: .5rem;
  text-align: center;
}
